<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>QuickStream</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">

        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-icons/font/bootstrap-icons.css">

        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>

        <header>
            <span class="floating-logo">QuickStream</span>
            <span class="logo">QuickStream</span>
            <input class="search" placeholder="Search an album..." autocomplete="off" spellcheck="false" autofocus>
        </header>
        <div class="results">
            <span class="message">Loading...</span>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/js/search.js"></script>
    </body>
</html>